@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0;
}

.header{
	background: url('./assets/FALX.gif');
	background-size: cover;
	background-repeat: no-repeat;
}

.marketingBlock{
	background: url('./assets/bannerMoon.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.checkbox-box {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 26px;
  border: 1.6px solid white;
  background-color: transparent;
  cursor: pointer;
}

input[type="checkbox"]:checked + label .checkbox-box .checkmark {
  display: block;
}

input[type="checkbox"].sr-only {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
}

.checkmark {
  width: 14px; 
  height: 14px;
  background-color: white;
  display: none;
}

.break-span {
  white-space: normal;
  word-break: break-word;
}

@media screen and (max-width: 1024px){
    .header-h{
        @apply text-3xl
    }
}
